
.app-container {
  width: 100%;
  height: 100vh;
  background-color: #0f1e2b;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

.content-container {
  border-radius: 10px;
  background-color: #F5F5F5;
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
}
.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0 15px;
  text-align: center;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.button-container {
  width: 100%;
  text-align: center;
}
.roll-button {
  height: 50px;
  width: 150px;
  background-color: #472cff;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}
.roll-button:focus {
  outline: none;
}
.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.score-container {
  height: 50px;
  margin-top: 40px;
  text-align: center;
}
